@model RugratsWebApp.Models.AccountModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.accountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blockageAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blockageAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.netBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.netBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.openingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.openingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastTransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastTransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
